@import url(http://fonts.googleapis.com/css?family=Gentium+Basic:400,400italic);

$fonts: 'Gentium Basic', serif;
$form_field_font: Helvetica, Arial, sans-serif;
$headline_font: "Gentium Basic", Arial, sans-serif;
$headline_weight: bold;
