* {
    margin:0px;
    padding:0px;
}

body {
    padding-top:50px;
    padding-left:50px;
    padding-right:50px;
}

#fs {
    max-width:960px;
    margin:0px auto;
}

#fs-main-nav {
    width:15%;
    float:left;
    nopadding-right:2%;
}
#fs-main-nav h1 {
    text-indent:-9999px;
    background: url('../assets/food-sense.png') no-repeat 0 0;
    width: 120px;
    height: 120px;
}
#fs-header {
    position:relative;
    width:85%;
    float:left;
}
#fs-header img {
    max-width:100%;
    float:right;
}
.tagline-wrap {
    position:absolute;
    top:61%;
    right:0px;
    clear:both;
}
.tagline-1 {
    background-color:#fff;
    color:#000;
    font-style: italic;
    font-size: 1.3em;
    padding: 10px;
    padding: 10px 26px;
    float:right;
}
#fs-header .tagline-2 {
    clear:both;
    background-color:#000;
    color: #fff;
    font-style: italic;
    padding: 10px;
}
ul {
    list-style:none;
}
#fs-main-nav nav {
    margin-top: 23px;
}
#fs-main-nav nav .taste {
    background: url("../assets/icons/nav-tastemakers.png") no-repeat 0 10px;
}
#fs-main-nav nav .blog {
    background: url("../assets/icons/nav-blog.png") no-repeat 0 10px;
}
#fs-main-nav nav .alist {
    background: url("../assets/icons/nav-alist.png") no-repeat 0 10px;
}
#fs-main-nav nav .contrib {
    background: url("../assets/icons/nav-contribute.png") no-repeat 0 10px;
}
#fs-main-nav nav .about {
    background: url("../assets/icons/nav-about.png") no-repeat 0 10px;
}

#fs-main-nav li a {
    color:#2333aa;
    text-decoration:none;
    font-style:italic;
    padding: 20px 0px 12px 42px;
    display: block;
}
@media only screen and (max-width : 960px) {
    #fs-main-nav {
        width:100%;
    }
    #fs-header {
        width:100%;	
    }
    #fs-main-nav h1 {
        float:left;
    }
    #fs-main-nav nav {
        float:right;
    }
    #fs-main-nav li {
        float:left;
        background-position: 50% 10px;
    }
}
@media only screen and (max-width : 600px) {
    body {
        padding-top:0px;
    }

    #fs-main-nav h1 {
        background: url('../assets/food-sense.png') no-repeat -1px -121px;
        width: 238px;
        height: 238px;
    }
    .tagline-wrap {
        position:static;
    }
    .tagline-1 {
        float:none;
        padding:10px;
    }

}

.clearFixDiv {
    clear:both;
}


